{% extends "layouts/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>About</h1>
    <p class="lead">(Hey, My name is Kacey Milus. I am 17 and i am also a senior in H=high school. I will be attending Albright College in fall, I plan on studing bio/pre-med and possiably minnor in psycology. Now its time for me to bask you in how amazing I am, I ama able to switch peoples moods from negative to a positive with a simple tool. I like to call it my secret weapon, now I know you may be wondering as to what this is well if I told you then it wouldnt be a secret weapon.)</p>
  </div>
{% endblock %}
